@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label,
button,
a {
  cursor: pointer;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  color: white;
  line-height: 26px;
  font-size: 16px;
}

.container {
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 648px;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 904px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
}

.section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.section__title a {
  color: #24a3ff;
}
.section__title a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  height: 6px;
  width: 6px;
  border-bottom: #24a3ff solid 2px;
  border-right: #24a3ff solid 2px;
  transform: rotate(-45deg) translate(0px, -7px);
}

.section__subtitle {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 38px;
    line-height: 46px;
  }
}

@media screen and (min-width: 768px) {
  .icon__dot {
    position: relative;
  }
  .icon__dot::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
  }
  .icon__dot:last-child::before {
    display: none;
  }
}

.wrapper {
  position: relative;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
  overflow: hidden;
}

.wrapper__white {
  height: 20px;
  position: relative;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .wrapper__white {
    margin-bottom: 60px;
  }
}
.wrapper__white::before, .wrapper__white::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 5%;
  right: 5%;
  height: 10px;
  border-radius: 0 0 12px 12px;
  background-color: rgb(202, 202, 219);
}
@media screen and (min-width: 768px) {
  .wrapper__white::before, .wrapper__white::after {
    left: 2.6%;
    right: 2.6%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper__white::before, .wrapper__white::after {
    left: 2%;
    right: 2%;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper__white::before, .wrapper__white::after {
    left: 1.4%;
    right: 1.4%;
  }
}
@media screen and (min-width: 1920px) {
  .wrapper__white::before, .wrapper__white::after {
    left: 1%;
    right: 1%;
  }
}
.wrapper__white::after {
  bottom: 0px;
  left: 10%;
  right: 10%;
  background-color: rgb(231, 231, 242);
}
@media screen and (min-width: 768px) {
  .wrapper__white::after {
    left: 5.2%;
    right: 5.2%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper__white::after {
    left: 4%;
    right: 4%;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper__white::after {
    left: 2.8%;
    right: 2.8%;
  }
}
@media screen and (min-width: 1920px) {
  .wrapper__white::after {
    left: 2%;
    right: 2%;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0;
}

.svg_sprite {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.header {
  background: url("../images/Symbol.svg") no-repeat 50%/auto 100%;
}
@media screen and (min-width: 768px) {
  .header {
    background: url("../images/Symbol.svg") no-repeat 35%/auto 100%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background: url("../images/Symbol.svg") no-repeat 45%/auto 100%;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    background: url("../images/Symbol.svg") no-repeat 50%/auto 100%;
  }
}
.header__container {
  padding: 0 15px;
}
.header__main {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 1024px) {
  .header__head {
    /*display: flex;
    flex-flow: column;
    align-items: flex-end;
    position: relative;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.header__social {
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .header__social {
    justify-content: left;
    gap: 18px;
    padding: 50px 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header__social {
    justify-content: right;
    padding-bottom: 16px;
  }
}
.header__social:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
  bottom: 0;
  background-color: rgba(245, 245, 250, 0.2);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .header__social:before {
    display: none;
  }
}
.header__lang-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__lang-item {
  border-radius: 8px;
}
.header__lang-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__lang-item:active {
  background: #f0145a;
}
.header__lang-item.active {
  background: #f0145a;
}
.header__lang-link {
  padding: 6px 7px 4px;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.header__social-adress {
  color: rgb(179, 179, 186);
  line-height: 20px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__social-adress {
    display: block;
  }
}
.header__social-number {
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
}
.header__social-fb {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__social-fb {
    display: block;
  }
}
.header__social-fb-icon {
  fill: white;
  width: 24px;
  height: 24px;
}
.header__social-fb-icon:hover {
  fill: #f0145a;
}
.header__logo {
  padding-top: 15px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    grid-row-start: 1;
    grid-row-end: 3;
    /* padding-top: 0;
    position: absolute;
    top: 50%;
    left: 0;*/
  }
}
.header__logo-link {
  line-height: 0;
}
.header__logo-icon {
  width: 69.33px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .header__logo-icon {
    width: 100%;
    height: 100%;
  }
}
.header__logo-slash {
  position: absolute;
  width: 11.62px;
  height: 26px;
  top: 15px;
  left: 73.3px;
}
@media screen and (min-width: 768px) {
  .header__logo-slash {
    display: none;
  }
}
.header__logo-slash + span {
  font-size: 20px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .header__logo-slash + span {
    display: none;
  }
}
.header__burger {
  position: absolute;
  top: 50%;
  right: 7px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  z-index: 0;
}
.header__burger.active2:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 32px;
  height: 32px;
  transform: translate(2px, 2px);
  border-radius: 8px;
  background-color: #686887;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #fff;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.header__burger span::after {
  top: 6px;
}

.header-nav {
  position: fixed;
  bottom: 0;
  left: 8px;
  right: 8px;
  padding: 19px 12px 12px;
  transform: translateY(101%);
  transition: 0.8s linear;
  background-color: rgb(255, 255, 255);
  border-radius: 12px 12px 0 0;
  z-index: 1;
}
.header-nav.active {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .header-nav {
    transform: translateY(0);
    position: static;
    border-radius: unset;
    background: transparent;
    padding: 30px 0 0;
  }
}
@media screen and (min-width: 1024px) {
  .header-nav {
    padding: 0;
  }
}
.header-nav__close {
  width: 18px;
  height: 18px;
  margin: 0 7px 27px auto;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-nav__close {
    display: none;
  }
}
.header-nav__close::before, .header-nav__close::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(236, 111, 93);
  transform: rotate(45deg);
}
.header-nav__close::after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    gap: 15px;
    line-height: 20px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  .header-nav__list {
    justify-content: flex-end;
  }
}
.header-nav__item {
  padding: 7px 0;
  margin-top: 15px;
  background-color: #f5f5fa;
  text-align: center;
  border-radius: 12px;
}
.header-nav__item:hover {
  background-color: #e6e6f0;
}
@media screen and (min-width: 768px) {
  .header-nav__item:hover {
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__item {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}
.header-nav__link {
  display: block;
  line-height: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #24a3ff;
}
.header-nav__link:active {
  color: #f0145a;
}
@media screen and (min-width: 768px) {
  .header-nav__link {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid transparent;
  }
  .header-nav__link:hover {
    border-color: white;
  }
}

.header-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-inner__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
}
.header-inner__scroll {
  width: 42px;
  height: 42px;
  margin: 40px auto 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  cursor: pointer;
}
.header-inner__scroll::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 11px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
}
.header-inner__scroll:hover {
  border: 2px solid #f0145a;
}
.header-inner__scroll:hover:before {
  border-bottom: 2px solid #f0145a;
  border-left: 2px solid #f0145a;
}

.active-link {
  color: #f0145a;
}

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

/**
 * Swiper 8.4.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 21, 2022
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.team {
  position: relative;
}
.team__swiper {
  padding-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .team__section {
    padding: 0px;
  }
}
.team__slide {
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .team__slide {
    display: flex;
  }
}
.team__imgbox {
  height: 500px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .team__imgbox {
    flex: 1 0 400px;
    height: auto;
  }
}
.team__imgbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.team__inner {
  padding: 30px;
  background-color: #f5f5fa;
}
.team__inner .section__title {
  margin-bottom: 5px;
}
.team__inner--name {
  font-weight: 700;
  line-height: 20px;
  color: #b3b3ba;
  padding: 30px 0 6px;
}
.team__inner--title {
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}
.team__swiper-pagination.swiper-pagination {
  bottom: 0px;
  line-height: 0;
}
.team__swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #24a3ff;
  opacity: 0.2;
}
.team__swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #24a3ff;
  opacity: 1;
}

.section-tabs {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 1024px) {
  .section-tabs {
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 60px;
    padding-top: 9.5px;
    align-items: center;
  }
}

.tabs__section {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .tabs__section {
    margin-top: 60px;
  }
}
.tabs__section .container {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 1024px) {
  .tabs__section .container {
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .tabs__section .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
  }
}
.tabs__container {
  flex: 1 1 49%;
}
@media screen and (min-width: 1024px) {
  .tabs__container {
    /*padding-top: 9.5px;*/
  }
}
.tabs__head {
  overflow-x: scroll;
  margin-right: -30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .tabs__head {
    margin-right: calc(-50vw + 324px);
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .tabs__head {
    margin-right: 0;
    min-width: auto;
    padding-bottom: 0;
    padding-right: 60px;
    overflow: auto;
    height: 100%;
  }
}
.tabs__list {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .tabs__list {
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-around;
  }
}
.tabs__item {
  cursor: pointer;
  font-weight: 700;
  color: #b3b3ba;
  font-size: 30px;
  line-height: 37px;
  white-space: nowrap;
}
.tabs__item:hover {
  color: #f0145a;
}
@media screen and (min-width: 1024px) {
  .tabs__item {
    font-size: 38px;
    line-height: 46px;
  }
}
.tabs__item.active {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.tabs__body {
  padding-top: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 768px) {
  .tabs__body {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .tabs__body {
    padding-top: 9.5px;
    padding-left: 60px;
    border-top: 0px;
    /*border-left: 4px solid rgba(255, 255, 255, 0.3);*/
  }
}
.tabs__block {
  display: none;
}
.tabs__block.active {
  display: block;
}
.tabs__block-title {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .tabs__block-title {
    font-size: 30px;
    line-height: 37px;
  }
}
.tabs__block-description {
  font-size: 19px;
  line-height: 30px;
}

.section__services {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section__services {
    padding: 0;
    margin-top: 60px;
  }
}

.services__title a:hover {
  color: #f0145a;
}
.services__title a:hover:hover:after {
  border-bottom: #f0145a solid 2px;
  border-right: #f0145a solid 2px;
}
.services__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 0 60px;
}
@media screen and (min-width: 768px) {
  .services__cards {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    gap: 60px;
  }
}
.services__cards-box a {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .services__cards-box {
    flex: 0 1 45%;
  }
}
@media screen and (min-width: 1024px) {
  .services__cards-box {
    flex: 1 1 28%;
  }
}
@media screen and (min-width: 1440px) {
  .services__cards-box {
    flex: 1 1 30%;
  }
}
.services__cards-icon {
  width: 92px;
  height: 92px;
  display: block;
}
.services__cards-title {
  color: #24a3ff;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin: 30px 0 15px;
}
.services__cards-title:hover {
  color: #f0145a;
}

.clients__section {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 1920px) {
  .clients__section {
    max-width: 1720px;
    margin: 0 auto;
  }
}
.clients__section span {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.clients__box {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .clients__box {
    /*margin: 30px -60px 0;*/
  }
}
.clients__list {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .clients__list {
    flex-flow: wrap;
    flex-wrap: wrap;
  }
}
.clients_item a {
  height: 120px;
  display: block;
}
@media screen and (min-width: 768px) {
  .clients_item {
    flex: 1 1 33%;
  }
}
@media screen and (min-width: 1024px) {
  .clients_item {
    flex: 1 1 25%;
  }
}
.clients_item:nth-child(n+7) {
  display: none;
}
@media screen and (min-width: 768px) {
  .clients_item:nth-child(n+7) {
    display: block;
  }
}
.clients_item:nth-child(1) a {
  background: #1c4280 url(../images/partners/hillel.png) no-repeat 50%/auto;
  background-size: 217px 48px;
}
@media screen and (min-width: 1920px) {
  .clients_item:nth-child(1) {
    border-radius: 9px 0 0 0;
  }
}
.clients_item:nth-child(2) a {
  background: #143646 url(../images/partners/wannabiz.png) no-repeat 50%/auto;
  background-size: 199px 32px;
}
.clients_item:nth-child(3) a {
  background: #f48b30 url(../images/partners/tapgerine.png) no-repeat 50%/auto;
  background-size: 179px 44px;
}
.clients_item:nth-child(4) a {
  background: #9e4dc3 url(../images/partners/3dlook.png) no-repeat 50%/auto;
  background-size: 180px 42px;
}
@media screen and (min-width: 1920px) {
  .clients_item:nth-child(4) {
    border-radius: 0 9px 0 0;
  }
}
.clients_item:nth-child(5) a {
  background: #fd9339 url(../images/partners/orangear.png) no-repeat 50%/auto;
  background-size: 174px 44px;
}
.clients_item:nth-child(6) a {
  background: #e2e2e4 url(../images/partners/adtelligent.png) no-repeat 50%/auto;
  background-size: 194.8px 48px;
}
.clients_item:nth-child(7) a {
  background: #c71c36 url(../images/partners/clickky.png) no-repeat 50%/auto;
  background-size: 138px 61px;
}
.clients_item:nth-child(8) a {
  background: #dcf3f9 url(../images/partners/eco-leasing.png) no-repeat 50%/auto;
  background-size: 146px 76px;
}
.clients_item:nth-child(9) a {
  background: #eaeaea url(../images/partners/ingratek.png) no-repeat 50%/auto;
  background-size: 182px 60px;
}
@media screen and (min-width: 1920px) {
  .clients_item:nth-child(9) {
    border-radius: 0 0 0 9px;
  }
}
.clients_item:nth-child(10) a {
  background: #282240 url(../images/partners/city-par.png) no-repeat 50%/auto;
  background-size: 181px 38px;
}
.clients_item:nth-child(11) a {
  background: #1d4568 url(../images/partners/artprint.png) no-repeat 50%/auto;
  background-size: 189px 46px;
}
.clients_item:nth-child(12) a {
  background: #000000 url(../images/partners/ultimatecard.png) no-repeat 50%/auto;
  background-size: 152px 95px;
}
@media screen and (min-width: 1920px) {
  .clients_item:nth-child(12) {
    border-radius: 0 0 9px 0;
  }
}

.publications__wrapper {
  background-color: #f5f5fa;
}
@media screen and (min-width: 1920px) {
  .publications__wrapper {
    margin-top: 60px;
  }
}
.publications__container {
  color: #000000;
}
.publications__section {
  padding-top: 30px;
}
.publications .section__title {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .publications__blocks {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    margin-top: 30px;
  }
}
.publications__block {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .publications__block {
    margin-top: 0;
  }
  .publications__block + a {
    display: block;
    line-height: 0;
  }
}
@media screen and (min-width: 768px) {
  .publications__block:first-child, .publications__block:nth-child(2) {
    flex: 1 1 47%;
  }
}
@media screen and (min-width: 1024px) {
  .publications__block:first-child, .publications__block:nth-child(2) {
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .publications__block:nth-child(3) {
    flex: 1 1 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .publications__block:nth-child(3) {
    flex: 1 1 30%;
  }
}
.publications__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.publications__content {
  padding: 30px;
}
.publications__content a {
  display: inline-block;
}
.publications__title {
  font-weight: 700;
  line-height: 20px;
  color: #24a3ff;
  margin-bottom: 15px;
}
.publications__title:hover {
  color: #f0145a;
}
.publications__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  display: block;
}
.publications__text {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  border-top: #e6e6f0 4px solid;
  padding-top: 15px;
  margin-top: 15px;
}

.footer__container {
  border-top: #e6e6f0 2px solid;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    margin-top: 30px;
  }
}
.footer__main {
  padding: 30px 0;
  display: flex;
  flex-flow: column;
  gap: 21px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__main {
    flex-flow: wrap;
    justify-content: space-between;
  }
}
.footer__box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__box span {
  line-height: 20px;
  color: #b3b3ba;
  margin-top: 9px;
}
@media screen and (min-width: 768px) {
  .footer__box span {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    flex-flow: wrap;
    justify-content: flex-start;
    flex: 1 0 48%;
    gap: 26px;
  }
}
.footer__box:first-child {
  order: 1;
}
.footer__box:nth-child(2) {
  order: 2;
}
@media screen and (min-width: 768px) {
  .footer__box:nth-child(2) {
    order: 3;
  }
}
.footer__box:last-child {
  order: 3;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .footer__box:last-child {
    order: 2;
  }
}
.footer__adress {
  display: block;
  line-height: 20px;
  color: #323264;
}
.footer .icon__dot::before {
  background: #b3b3ba;
  right: -15px;
}
.footer__adress-map {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #24a3ff;
  text-transform: uppercase;
}
.footer__contacts-fb {
  display: block;
  line-height: 0;
  cursor: pointer;
  text-decoration: none;
}
.footer__contacts-fb-icon {
  width: 38px;
  height: 38px;
  fill: #24a3ff;
}
.footer__contacts-fb-icon:active, .footer__contacts-fb-icon:hover {
  fill: #f0145a;
}
.footer__contacts-number {
  font-weight: 700;
  line-height: 20px;
  color: #46466e;
}
.footer__contacts-email {
  font-weight: 700;
  line-height: 20px;
  color: #24a3ff;
}
.footer__contacts-email:hover {
  color: #f0145a;
}

.text-color {
  color: #b3b3ba;
}

.color-grey {
  fill: #b3b3ba;
}

.container__publications {
  padding: 0 15px;
}

.header__publications {
  background: none;
}
@media screen and (min-width: 768px) {
  .header__publications {
    background: white;
  }
}
@media screen and (min-width: 1024px) {
  .header__publications {
    background: white;
  }
}
@media screen and (min-width: 1440px) {
  .header__publications {
    background: white;
  }
}
.header__main--publications {
  display: block;
  min-height: auto;
}
@media screen and (min-width: 768px) {
  .header__main--publications {
    padding: 0 45px;
  }
}
.header .icon__dot--grey::before {
  background: #b3b3ba;
}
.header__lang-item--publications:hover {
  background-color: rgb(245, 245, 250);
}
.header__lang-item--publications.active {
  background: #f0145a;
}
.header__lang-link.active {
  color: rgb(255, 255, 255);
}
.header__logo--publications {
  background-color: white;
  margin: 0 -15px;
  padding: 15px 15px 10px;
}
@media screen and (min-width: 768px) {
  .header__logo--publications {
    gap: 29px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo--publications {
    top: 50px;
  }
}
.header__logo-slash--publications {
  left: 87.3px;
}
@media screen and (min-width: 768px) {
  .header__logo-slash--publications {
    display: block;
    width: 21px;
    height: 47px;
    left: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo-slash--publications {
    top: 0;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-slash--publications + span {
    display: block;
    font-size: 36px;
    line-height: 44px;
  }
}
.header__logo--text {
  color: #323264;
  padding-bottom: 6px;
}
.header__burger--publications {
  right: 15px;
  transform: translateY(-9px);
}
.header__burger--publications.active2:before {
  background-color: #e6e6f0;
}
.header__burger--publications span {
  background: #323264;
}
.header__burger--publications span::before, .header__burger--publications span::after {
  background: #323264;
}
.header .header-nav__publications {
  padding-bottom: 60px;
}
.header .header-nav__item .regular-color {
  color: #24a3ff;
}
.header .header-nav__item .active {
  color: #f0145a;
}
@media screen and (min-width: 768px) {
  .header .header-nav__item .active {
    border-bottom: 2px solid #f0145a;
  }
}
.header .header-nav__link--publications:hover {
  border-color: #24a3ff;
}

.publications__radio-container {
  display: flex;
  width: 233px;
  height: 42px;
  margin: 0 auto;
  background: #e6e6f0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.publications__radio-input {
  display: none;
}
.publications__radio-input + label {
  font-weight: 700;
  flex: 1 1 50%;
  color: #323264;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.publications__radio-input + label:before {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 12px;
  background: transparent;
  z-index: -1;
}
.publications__radio-input + label:hover:before {
  background: #ededf7;
}
.publications__radio-input ~ span {
  position: absolute;
  z-index: -1;
  top: 2px;
  left: calc(100% - 2px);
  transform: translateX(-100%);
  bottom: 2px;
  width: 48%;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  transition: 0.3s linear;
}
.publications__radio-input:checked + label + input + label + span {
  left: 2px;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .publications__block--publications {
    flex: 1 1 47%;
  }
}
@media screen and (min-width: 1024px) {
  .publications__block--publications {
    flex: 1 1 30%;
  }
}
@media screen and (min-width: 768px) {
  .publications__block--publications:nth-child(3) {
    flex: 1 1 47%;
  }
}
.publications__btn-container {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
.publications__btn a {
  display: block;
  padding: 18px 30px;
  background: #24a3ff;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  color: white;
}
.publications__btn a:hover {
  background: #0085ff;
}
.publications__btn a:active {
  background: #006ccf;
}

@media screen and (min-width: 768px) {
  .footer__main--publications {
    flex-flow: column;
    align-items: baseline;
    max-width: 398px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer__main--publications {
    flex-flow: wrap;
    max-width: none;
  }
}
@media screen and (min-width: 768px) {
  .footer__box--publications span {
    margin-top: 9px;
  }
}
@media screen and (min-width: 768px) {
  .footer__box--publications:nth-child(2) {
    order: 2;
  }
}
@media screen and (min-width: 1024px) {
  .footer__box--publications:nth-child(2) {
    order: 3;
  }
}
.footer__box--publications:last-child {
  order: 3;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .footer__box--publications:last-child {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer__box--publications:last-child {
    margin: 0;
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */